@{
    ViewData["Title"] = "Index";
}

<h2>IEX Trading Application</h2>
<hr />

<div>
    <p>
        This application let's you fetch trading data from IEX via their public <a href="https://iextrading.com/developer/">API</a>.
        <br />
        <br />
        This application has been designed by <br>
        1. Hariharan <br>
        2. Nameetha <br>
        3. Prachi <br>
    </p>
    <p>
        Following learning objectives are fulfilled -
        <ul>
            <li>Connection to REST API.</li>
            <li>Fetching the stock details.</li>
            <li>Applying stock picking strategy to suggest best stocks to invest in</li>
        </ul>
    </p>
    <p>
        To know more about the stock picking strategy used in this program visit <a asp-area="" asp-controller="Home" asp-action="AboutSuggestion">About</a>.<br>
        To get the stock picking suggestions, visit <a asp-area="" asp-controller="Home" asp-action="SuperStockSuggestion">Suggestion</a>.
</div>